@font-face {
  font-family: "heb";
  src: url("os_luizi_round-ffc-web.woff");
}

body {
  background-color: #E4F4F4;
  font-family: arial;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  font-family: arial;
  background-color: #4F5FFF;
  color: #fff;
  padding: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 70px;
  margin-bottom: 50px;
  text-align: center;
}

.s {
  font-size: 60px;
}


main {
  flex: 1;
  padding: 20px;
  text-align: center;
}



footer {
  font-size: 20px;
  background-color: #4F5FFF;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}


.head1{
	text-align: center;
	color: #FFFFFF;
	padding: 10px;
	font-size: 34px;  
}
.head2 {
    font-size: 30px;
    padding: 10px 10px;
    margin-top: 0px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin: auto auto;
    width: 35vh;
    height: 4vh;
    background-size: 200% 100%;
    background-position: right;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}


#homeButton img{
	height:75px;
	width:auto;
	text-align: right;
}
.content{
	text-align: center;
	font-family: heb;
}

hr {
	background-color: black;
	height: 3px;
	margin-top: -20px;
	margin-bottom: -20px;
}
.red {
	background-color: #FF0000;
}
.orange{
	background-color: #FFA500;
}
.yellow{
	background-color: #FFFF00;
}
.green{
	background-color: #008000;
}
.light-blue{
	background-color: #ADD8E6;
}
.blue{
	background-color: #0000FF;
}
.purple{
	background-color: #800080;
}
a:visited{
	color: #FF0000;
}