@font-face {
  font-family: "heb";
  src: url("os_luizi_round-ffc-web.woff");
}

body {
  font-size: 20px;
  background-color: #E4F4F4;
  font-family: arial;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

header {
  font-family: arial;
  text-align: center;
  background-color: #4F5FFF;
  color: #fff;
  padding: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 70px;
}

.s {
  font-size: 60px;
}

.imgclass img{
  height: 400px;
}


main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.picture-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: right;
}

footer {
  font-size: 20px;
  background-color: #4F5FFF;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  font-family: arial;
}


.picture-area img {
  margin-left: -400px;
}

.head2 {
    font-size: 30px;
    padding: 10px 10px;
    margin-top: 0px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    margin: auto auto;
    width: 35vh;
    height: 4vh;
    background-size: 200% 100%;
    background-position: right;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}

.head2::before {
    content: "Memes";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(56, 77, 156);
	transition: background-color 0.3s;
    border-radius: 100px 0 0 100px;
}

.head2::after {
    content: "Quotes";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgb(26, 47, 126);
	transition: background-color 0.3s;
    border-radius: 0 100px 100px 0;
}

.head2:hover::before{
	background: rgb(26, 47, 126);
}
.head2:hover::after{
	background: rgb(56, 77, 156);
}

#homeButton{
	height:50px;
	width:auto;
}
#soundB{
    font-size: 30px;
    padding: 10px 10px;
    margin-top: 80px;
    border: none;
    border-radius: 100px;
	cursor: pointer;
    text-decoration: none;
    width: 25vh;
    height: 4vh;
    color: #FFFFFF;
    position: relative;
	background-color: rgb(46, 57, 136);
	display: inline-block;
}
#soundB:hover{
	background: rgb(26, 47, 120);
	transition: background-color 0.3s;
}
